name: Python flask application
on: workflow_dispatch
jobs:
  ci_build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6.0.2
      - name: install python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.12
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
      - name: run tests
        run: |
          pytest
      - name: Python build
        run: |
          python -m build
      - name: upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: python-build
          path: dist
